<form action="/admin/login" method="post">
  <div class="container-sm">
    <div class="m-4 px-4">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <label for="usuario" class="form-label">Usuario</label>
          <i class="fa-solid fa-user"></i>
          <input type="text" class="form-control form-control-sm" name="usuario"
           id="inputUsuario" placeholder="Ingrese su nombre de usuario"> 
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <label for="clave" class="form-label">Contraseña</label>
          <i class="fa-solid fa-key"></i>
          <input type="password" class="form-control form-control-sm" name="clave"
           id="inputClave" placeholder="Ingrese su contraseña">
        </div>
      </div>
      {{#if error}}
        <div class="row justify-content-center">
          <div class="col-md-6 mt-3">
            <div class="alert alert-danger" role="alert">
              <b>ERROR!</b>
              <p>Usuario y/o contraseña incorrectos.</p>
            </div>
          </div>
        </div>
      {{/if}}
      <div class="row justify-content-center">
        <div class="col-md-6 mt-2">
          <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
      </div>
    </div>
  </div>
</form>
