.holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historia {
  text-align: center;
  max-width: 60%;
  margin: auto;
}

.staff {
  text-align: center;
}

.personas {
  display: flex;
  justify-content: center;
}

.persona {
  padding: 1%;
}

.nombre {
  font-weight: 500;
}

.posicion {
  font-weight: 300;
  text-decoration: underline;
}

.descripcion {
  font-weight: 100;
}
